<div class="card-header row">
  <div class="col-sm-6">
    <h1 class="display-6">Ganesha</h1>
    <p class="lead">Gestió de l'espai d'assignatures</p>
  </div>
  <div class="col-sm-6">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a
          href="index-admin.html"
          class="btn btn-primary"
          role="button"
          aria-pressed="true"
          ><i
            class="fas fa-tools text-white mr-2"
            style="cursor: pointer;"
          ></i
          >Administració</a
        >
      </li>
      <li class="nav-item mt-2">
        <button class="btn btn-primary" type="button">
          <i
            class="fas fa-envelope text-white mr-2"
            style="cursor: pointer;"
          ></i
          >Enviar petició...
        </button>
      </li>
      <li class="nav-item mt-2">
        <button class="btn btn-danger" type="button" (click)="onSortir()">
          <i
            class="fas fa-power-off text-white mr-2"
            style="cursor: pointer;"
          ></i
          >Sortir
        </button>
      </li>
    </ul>
  </div>
</div>
