<div *ngIf="perfil == 'profe'">
  <div class="list-group mt-4">
    <div class="list-group-item list-group-item-primary">
      <div class="row align-items-center">
        <div class="col-sm">
          <h5>
            Assignatures
          </h5>
        </div>
      </div>
    </div>
    <div
      class="list-group-item list-group-item-action"
      *ngFor="let assignatura of assignatures"
    >
      <a [routerLink]="['grups', assignatura.id]" class="btn btn-link"
      (click)="onAssignaturaProfeClick(assignatura.id)" >{{ assignatura.codi }} - {{ assignatura.nom }}</a
      >
    </div>
  </div>
</div>
<div class="list-group" *ngIf="perfil == 'adm'">
  <button *ngFor="let assignatura of assignatures"
    type="button"
    class="list-group-item list-group-item-action"
    (click)="onAssignaturaClick(assignatura.id)"
  >
    {{ assignatura.codi }}
  </button>
</div>
