<div *ngIf="perfil == 'professor'">
  <div class="list-group mt-4">
    <div class="list-group-item list-group-item-primary">
      <div class="row align-items-center">
        <div class="col-sm">
          <h5>
            Assignatures
          </h5>
        </div>
      </div>
    </div>
    <div
      class="list-group-item list-group-item-action"
      *ngFor="let assignatura of assignatures"
    >
      <a [routerLink]="['grups', assignatura.id]" class="btn btn-link"
      (click)="onAssignaturaProfeClick(assignatura.id)" >{{ assignatura.codi }} - {{ assignatura.nom }}</a
      >
    </div>
  </div>
</div>
<div class="list-group" *ngIf="perfil == 'adm'">
<!--   <div>
    <a
    class="btn btn-primary text-white text-left"
    role="button"
    aria-pressed="true"
    (click)="onUsuarisClick()"
    ><i
    class="fas fa-edit text-white mr-2"
    style="cursor: pointer;"
    ></i>Usuaris</a
    >
  </div>
  <div>
    <a
    class="btn btn-primary text-white text-left"
    role="button"
    aria-pressed="true"
    (click)="onAssignaturaAddClick()"
    ><i
    class="fas fa-plus text-white mr-2"
    style="cursor: pointer;"
    ></i>Afegir assignatura</a
    >
  </div> -->
  <div class="list-group-item list-group-item-action" *ngFor="let assignatura of assignatures">

    <a style="cursor: pointer;"
    (click)="onAssignaturaClick(assignatura.id)"
    >
    {{ assignatura.codi }}
  </a>

</div>
</div>
