<div class="row">
  <div class="col-sm-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" [routerLink]="['/','adm']" routerLinkActive="router-link-active">Inici</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click) = "isNavbarCollapsed = !isNavbarCollapsed"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        [ngbCollapse]="isNavbarCollapsed"
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['addassignatura']" routerLinkActive="router-link-active"
              >
              <fa-icon [icon]="faPlus" class="mr-2" style="cursor: pointer;"></fa-icon>
               Afegir Assignatura</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['usuaris']" routerLinkActive="router-link-active">
              <fa-icon [icon]="faEdit" class="mr-2" style="cursor: pointer;"></fa-icon>
              Gestionar Usuaris</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['logs']" routerLinkActive="router-link-active">
              <fa-icon [icon]="faEdit" class="mr-2" style="cursor: pointer;"></fa-icon>
              Logs</a>
          </li>
        </ul>
        <div class="my-2 my-lg-0">
            <button class="btn btn-danger" type="button" (click)="onSortir()">
              <fa-icon [icon]="faPowerOff" class="text-white mr-2" style="cursor: pointer;"></fa-icon>
              Sortir
            </button>
          </div>
      </div>
    </nav>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-2" *ngIf="viewSideBar">
    <!-- <router-outlet name="leftbar"></router-outlet> -->
    <app-assignatures-list></app-assignatures-list>
  </div>
  <div class="col-sm-12 col-md-10" [class.offset-md-1]="!viewSideBar">
      <fa-icon [icon]="faBars"
              class="text-primary"
              style="cursor: pointer;"
              (click)="onToggleSideBar()"></fa-icon>
    <router-outlet></router-outlet>
  </div>
</div>
