<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Editar Grup</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="editForm">
    <div class="form-group">
        <label for="nom">Nom:
          <fa-icon *ngIf="!canEditName"
          icon="lock"
          style="cursor: pointer;"
          class="text-danger ml-2"
          (click)="lockName()"></fa-icon>
          <fa-icon *ngIf="canEditName"
          icon="lock-open"
          style="cursor: pointer;"
          class="text-danger ml-2"
          (click)="lockName()"></fa-icon>
        </label>
        <input type="text" [readonly]="!canEditName?true:null" class="form-control" name="nom" id="nom" #nom formControlName="nom"/>
        <div *ngIf="editForm.get('nom').errors">
          <small id="nomHelp" class="text-danger"
          *ngIf="editForm.get('nom').touched && !editForm.get('nom').valid && editForm.get('nom').errors['pattern']">
            Ha de començar per lletra. Sense caràcters especials ni majúscules.
          </small>
          <small id="nomHelp" class="text-danger"
          *ngIf="editForm.get('nom').touched && !editForm.get('nom').valid && editForm.get('nom').errors['maxlength']">
            El nom no pot ser més gran de 25 caràcters.
          </small>
          <small id="nomHelp" class="text-danger"
          *ngIf="editForm.get('nom').touched && !editForm.get('nom').valid && editForm.get('nom').errors['groupNameExists']">
            Aquest nom ja existeix al sistema.
          </small>
        </div>
    </div>
    <div class="form-group">
      <label for="quota">Minuts:</label>
      <input type="number" class="form-control" name="quota" id="quota" #quota formControlName="quota" min="0"
             (input)="onEditGroupFormChangeQuotaValues($event.target.value)"/>
    </div>
    <div class="form-group">
        <label for="disponibles">Minuts disponibles:</label>
        <input type="number" readonly class="form-control" name="disponibles" id="disponibles" formControlName="disponibles" #disponiblesInput/>
      </div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-primary"
    (click)="activeModal.close({nomAnterior: nomGrup, grupId: grupId, nomNou: nom.value, quotaNova: quota.value})"
    [disabled]="!editForm.valid || disponiblesInput.value<0"
  >
    Modificar
  </button>
  <button type="button" class="btn btn-danger" (click)="activeModal.dismiss()">
    Cancel·lar
  </button>
</div>
