<div class="text-center" *ngIf="isLoading">
  <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Carregant...</span>
  </div>
</div>
<ul class="list-group mt-4" *ngIf="!isLoading">
  <li class="list-group-item list-group-item-primary">
    <div class="row align-items-center">
      <div class="col-sm-1" *ngIf="perfil == 'professor'">
          <fa-icon icon="backspace"
          class="fa-2x text-primary"
          style="cursor: pointer;"
          (click)="onBackClick()"></fa-icon>
      </div>
      <div class="col-sm ml-2">
        <h5>Alumnes del grup {{ grup?.nom }}</h5>
      </div>
    </div>
  </li>
  <li
    class="list-group-item list-group-item-action"
    *ngIf="alumnes.length === 0"
  >
    No hi ha cap alummne en aquest grup!!
</li>
  <li class="list-group-item list-group-item-action" *ngIf="alumnes.length !== 0">
    <div class="custom-control custom-checkbox">
        <input
          type="checkbox"
          class="custom-control-input"
          [(ngModel)]="selectAllAlumnes"
          name="selectAllAlumnes"
          id="selectAllAlumnes"
          #selectAllAlumnesStatus
          (click)="onSelectAllAlumnes(selectAllAlumnesStatus.checked);"
        />
        <label class="custom-control-label" for="selectAllAlumnes">Selecciona tots</label>
      </div>
  </li>
  <li
    class="list-group-item list-group-item-action"
    *ngFor="let alumne of alumnes; index as i"
  >
    <div class="row">
      <div class="col-1">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            [attr.id]="alumne.niu"
            #checkalumne
            [checked]="selectAllAlumnes"
            (click)="onCheckAlumneClick(alumne, checkalumne.checked)"
          />
          <label class="custom-control-label" [attr.for]="alumne.niu"></label>
        </div>
      </div>
      <div class="col-auto">
        {{ alumne.niu + " - " + alumne.nom }}
        <fa-icon icon="times"
                 class="text-danger"
                 style="cursor: pointer;"
                 (click)="onDeleteIconClick(alumne)"></fa-icon>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <button class="btn btn-primary" (click)="onAfegirClick(afegirAlumneModal)">
      Afegir Alumne
    </button>
    <button class="btn btn-primary ml-2" (click)="onDeleteAlumnes()" [disabled]="selectedAlumnes.length === 0">
      Esborrar Selecció
    </button>
  </li>
</ul>

<ng-template #afegirAlumneModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Afegir Alumne</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newAlumneForm">
      <div class="form-group">
        <label for="niu">Introduiu el NIU del professor:</label>
        <input type="text" class="form-control" name="niu" id="niu" #niu formControlName="niu" />
        <div *ngIf="newAlumneForm.get('niu').errors">
          <small id="nomHelp" class="text-danger"
          *ngIf="!newAlumneForm.get('niu').valid && newAlumneForm.get('niu').errors['pattern']">
            El NIU no pot tenir espais!
          </small>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close(niu.value)"
      [disabled]="!newAlumneForm.get('niu').valid"
    >
      Afegir
    </button>
    <button type="button" class="btn btn-danger" (click)="modal.dismiss()">
      Cancel·lar
    </button>
  </div>
</ng-template>
